.WholeForm {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}
.AddProperty {
    padding: 10px;
    margin: 10px;
    background-color:lavender;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}

.button {
    padding: 5px;
    display: inline;    
}