.Alert {
    background-color: red;
    padding: 10px;
    color: black;
    border-style: double;
}

.Alert.success {
    background-color: green;
    padding: 10px;
    color: black;
    border-style: double;
}