.NavBar {
    background-color: white;
    border-bottom: grey;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
} 
.nav {
    margin: 0;
    padding: 0;
}

.item {
    margin: 20px;
    padding: 20px;
    display: inline-block;
    background-color: slateblue;
}
.buttonText {
    font-weight: bold;
    color: white;
    background-color: slateblue;
    border-color: slateblue;

}
 .item:hover {
     background-color: mediumslateblue;
     cursor: grab;
 }