.NavBar {
    background-color: white;
    border-bottom: grey;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
} 
.nav {
    margin: 0;
    padding: 0;
}

.item {
    margin: 20px;
    padding: 20px;
    display: inline-block;
}