.property-card{
    margin: 5px;
    width: 33%;
    height: auto;
    font-size: 18px;
    padding: 5px;
    background-color: white;
    border: 3px solid darkblue;
    overflow-wrap: break-word;
}

.type{
    font-style: bold;
    font-size: 32px;
}
